* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html,
body,
#root {
	height: 100%;
	font-family: "josefin-sans";
}

@font-face {
	font-family: "josefin-sans";
	src: url("./fonts/JosefinSans-VariableFont_wght.ttf");
}

:root {
	--green: #21ab51;
	--light-green: #e2efe6;
	--navbar-height: 10rem;
}
