.budgets-page {
	display: flex;
	position: relative;
	height: calc(100% - var(--navbar-height));
	width: 100%;
	padding: 3rem;
}

.budgets-content {
	margin: auto;
	background-color: var(--light-green);
	min-height: 100%;
	width: 100%;
	border-radius: 1.5rem;
	padding: 1.5rem;
}

.budgets-heading {
	font-weight: 600;
	font-size: 2.4rem;
	margin-bottom: 3rem;
}

.create-budget-button {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	height: 6rem;
	border: none;
	border-radius: 1.5rem;
	background-color: var(--green);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	padding: 1rem;
	font-family: "josefin-sans";
	cursor: pointer;
}

.budgets-list {
	display: grid;
	row-gap: 5rem;
	grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

@media screen and (min-width: 800px) {
	.budgets-content {
		padding: 3rem;
	}
}

/*Create Budget Modal*/

.create-budget-window {
	background-color: white;
	width: 60rem;
	max-width: 90%;
	margin: auto;
	padding: 2.5rem;
	border-radius: 1rem;
}

.create-budget-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
}

.close-create-budget-button {
	height: 4rem;
	width: 4rem;
	border: none;
	color: black;
}

.create-budget-heading {
	align-self: center;
	font-size: 2rem;
}

.create-budget-field {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.create-budget-field > label {
	font-size: 2rem;
}

input,
textarea {
	font-family: "josefin-sans";
	padding: 1rem;
	font-size: 1.8rem;
}

.create-budget-field input {
	height: 4rem;
}

#budget-desc {
	resize: none;
	height: 7rem;
	font-family: "josefin-sans";
	line-height: 1.6rem;
}

.post-budget-button {
	background-color: var(--green);
	color: white;
	border: none;
	padding: 2rem 10rem;
	font-size: 2rem;
	border-radius: 1rem;
	font-family: "josefin-sans";
	cursor: pointer;
}
