.budgets-page {
	display: flex;
	height: calc(100% - var(--navbar-height));
	width: 100%;
	padding: 3rem;
}

.budgets-content {
	margin: auto;
	background-color: var(--light-green);
	height: 100%;
	width: 100%;
	border-radius: 1.5rem;
	padding: 3rem;
}

.budgets-heading {
	font-weight: 600;
	font-size: 2.4rem;
}

.create-budget-button {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	height: 6rem;
	border: none;
	border-radius: 1.5rem;
	background-color: var(--green);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	padding: 1rem;
	font-family: "josefin-sans";
}
