.add-expenditure-button {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	height: 6rem;
	width: 6rem;
	border: none;
	border-radius: 50%;
	background-color: var(--green);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 6rem;
	padding: 1rem;
	font-family: "josefin-sans";
	cursor: pointer;
}

.budget-page {
	width: 100%;
	height: calc(100% - var(--navbar-height));
	display: flex;
	padding: 3rem;
}

.budget-page-content {
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--light-green);
	padding: 3rem;
	border-radius: 1.3rem;
}

.budget-page-info {
	margin-top: 2rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	overflow: scroll;
}

.budget-page-side {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.budget-page-details {
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 1rem;
	overflow: scroll;
}

.budget-groups {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 1rem;
	width: 100%;
	overflow: scroll;
	background-color: white;
	border-radius: 1rem;
	padding: 1rem 4rem;
}

.budget-group {
	padding: 1rem 0.5rem;
}

.expenditure-group-heading {
	font-size: 1.6rem;
	margin-bottom: 1rem;
	text-align: center;
	border-bottom: 2px solid rgb(162, 162, 162);
	padding-bottom: 1rem;
}

.budget-summary-button {
	background-color: var(--green);
	color: white;
	border: none;
	font-size: 2rem;
	padding: 2rem;
	border-radius: 0.5rem;
	font-family: "josefin-sans";
	cursor: pointer;
}

.budget-page-side > .add-expenditure-window {
	display: none;
	max-width: 100%;
	margin: 0;
}

.budget-page-side > .add-expenditure-window .close-add-expenditure-button {
	display: none;
}

.budget-page-side > .add-expenditure-window .post-expenditure-button {
	padding: 2rem;
}

@media screen and (min-width: 800px) {
	.budget-groups {
		flex-direction: row;
		padding: 1rem;
	}
}

@media screen and (min-width: 1100px) {
	.add-expenditure-button {
		display: none;
	}
	.budget-page-info {
		flex-direction: row-reverse;
	}
	.budget-page-side {
		width: 30%;
	}
	.budget-page-side > .add-expenditure-window {
		display: block;
	}
}

/*Add Expenditure Window*/

.add-expenditure-window {
	background-color: white;
	width: 60rem;
	max-width: 90%;
	margin: auto;
	padding: 2.5rem;
	border-radius: 1rem;
}

.add-expenditure-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
}

.close-add-expenditure-button {
	height: 4rem;
	width: 4rem;
	border: none;
	color: black;
}

.add-expenditure-heading {
	align-self: center;
	font-size: 2rem;
}

.add-expenditure-field {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.add-expenditure-field > label {
	font-size: 2rem;
}

.add-expenditure-field > input {
	text-align: right;
}

.add-expenditure-field > select {
	height: 4rem;
	font-family: "josefin-sans";
	font-size: 1.8rem;
	text-align: end;
}

.post-expenditure-button {
	background-color: var(--green);
	color: white;
	border: none;
	padding: 2rem 10rem;
	font-size: 2rem;
	border-radius: 1rem;
	font-family: "josefin-sans";
	cursor: pointer;
}
