.login-page {
	display: flex;
	height: calc(100% - var(--navbar-height));
}

.login-heading {
	font-size: 5rem;
	font-weight: 400;
	margin-bottom: 2rem;
}

.login-content {
	margin: auto;
}

.login-group {
	display: flex;
}

.login-section {
	margin: auto;
	width: 40rem;
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

.login-section input {
	height: 5rem;
	width: 100%;
	border: none;
	outline: none;
	font-size: 1.8rem;
	font-family: josefin-sans;
}

.login-email,
.login-password {
	display: flex;
	margin-bottom: 3rem;
	border: 0.2rem solid #b6b6b6;
	border-radius: 0.4rem;
	padding: 1rem;
	box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.15);
}

.login-email.invalid,
.login-password.invalid {
	border-color: red;
}

.login-icon {
	height: 5rem;
	padding: 0 2rem 0 1rem;
	display: flex;
	background-color: white;
}

.login-icon img {
	width: 3rem;
	height: 3rem;
	margin: auto;
	background-color: white;
}

.login-page .error-msg {
	margin-bottom: 3rem;
}

.login-button {
	color: white;
	background-color: var(--green);
	border: 0.3rem solid white;
	border-radius: 2rem;
	font-size: 2.4rem;
	height: 5rem;
	width: 100%;
	cursor: pointer;
	margin-bottom: 3rem;
	box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
}

.login-button:hover {
	background-color: #67968f;
}

.login-section a.signup-link {
	display: block;
	width: 100%;
	font-size: 1.8rem;
	text-align: center;
	text-decoration: none;
}

.login-section a:link,
.login-section a:visited {
	color: black;
}

.login-section a:hover {
	text-decoration: underline;
}

.sign-up-text {
	font-weight: 700;
	margin-left: 0.5rem;
	font-size: 1.8rem;
}
