nav {
	height: var(--navbar-height);
	background-color: var(--green);
	color: white;
	box-shadow: 2px 5px 8px rgba(130, 129, 129, 0.313);
	display: flex;
	justify-content: space-between;
	padding: 0 2rem;
}

.nav-links {
	height: 100%;
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 2rem;
}

nav .logo {
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 3.2rem;
	font-family: "josefin-sans";
}

.nav-links a {
	font-size: 1.8rem;
	text-decoration: none;
}

.nav-links a:link {
	color: white;
}

.nav-links .log-out-button {
	font-size: 1.7rem;
	cursor: pointer;
}

.nav-links a:visited {
	color: white;
}
