nav {
	height: var(--navbar-height);
	position: sticky;
	top: 0;
	background-color: var(--green);
	color: white;
	box-shadow: 2px 5px 8px rgba(130, 129, 129, 0.313);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2rem;
}

nav .nav-links {
	height: 100%;
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 3rem;
}

nav .logo {
	height: var(--navbar-height);
	display: flex;
	align-items: center;
	font-size: 3.2rem;
	font-family: "josefin-sans";
}

.nav-links a {
	font-size: 1.8rem;
	text-decoration: none;
}

nav .nav-links a:link {
	color: white;
}

.nav-links .log-out-button {
	font-size: 1.7rem;
	cursor: pointer;
}

nav .nav-links a:visited {
	color: white;
}

.menu-button {
	display: none;
}

#root > .nav-links {
	display: none;
}

#root > .nav-links * {
	color: black;
	font-size: 2rem;
}

@media screen and (max-width: 600px) {
	nav .nav-links {
		display: none;
		float: left;
	}
	.menu-button {
		display: block;
		height: 4rem;
		width: 4rem;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}
	#root > .nav-links {
		padding: 4rem;
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 4rem;
		background-color: var(--light-green);
	}
}

@media screen and (max-width: 600px) {
	nav .nav-links {
		display: none;
	}

	nav .nav-links.active {
		position: relative;
	}

	nav .nav-links.active .menu-button {
		position: absolute;
		right: 0;
		top: 0;
	}

	.nav-links.active a,
	.nav-links.active .log-out-button {
		display: block;
	}
}
