.summary-window {
	background-color: white;
	width: 60rem;
	max-width: 90%;
	margin: auto;
	padding: 2.5rem;
	border-radius: 1rem;
}

.summary-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
}

.summary-text {
	font-size: 1.8rem;
	text-align: center;
}

.highlighted {
	font-weight: 600;
	font-size: 2rem;
	color: var(--dark-green);
}

.summary-text p {
	margin-bottom: 3rem;
}

.summary-window button:hover {
	background-color: darkgray;
}
